$purple: #491e8c;
$purple-shadow: #3B1873;
$light-purple: #bdafd6;
$deep-purple: #7e61ae;
$dark-purple: #210e41;
$orange: #FFA33A;
$light-orange: #FFF4D7;
$green: #2CAD52;
$light-green: #D9FAD5;
$blue: #388DF5;
$light-blue: #D7F0FE;
$electric-purple: #8350DB;
$light-electric-purple: #EDDDFD;
$white: #ffffff;
$light-background: #f2f0f7;
$title-color: #0e061c;
$text-color: #3c3940;

$gold: #f2c46d;

$error: #9E2316;
$success: #238218;
$info: #144DD1;
$warning: #E08C04;


$margin: 20px;
$width: 1020px;
$small-width: 680px;

$mobile-only: 414px;
$mobile-breakpoint: 768px;
$tablet-breakpoint: 1024px;
$huge-breakpoint: 1700px;

@function pow($base, $exponent) {
  $result: 1;
  @if $exponent == 0 {
    @return $result;
  }
  @for $_ from 1 through $exponent {
    $result: $result * $base;
  }
  @return $result;
}

