:root {
  --purple: #{$purple};
  --purple-shadow: #{$purple-shadow};
  --light-purple: #{$light-purple};
  --deep-purple: #{$deep-purple};
  --dark-purple: #{$dark-purple};
  --white: #{$white};
  --light-background: #{$light-background};
  --title-color: #{$title-color};
  --text-color: #{$text-color};
  --margin: #{$margin};
  --width: #{$width};
  --small-width: #{$small-width};
}

@import "structure";

/* Reset */
html {
  font-size: 1em;
  word-spacing: 0.1em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Text styles */
h1,
h2,
h3,
h4,
h5,
a,
p,
ul,
li,
label,
input,
textarea {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: normal;
}
h1 {
  font-size: 38px;
  font-weight: bold;
  color: var(--title-color);
}
h2 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: var(--title-color);
}
h3 {
  font-size: 26px;
  font-weight: 600;
  color: var(--title-color);
}
h4 {
  font-size: 20px;
  font-weight: 600;
  color: var(--title-color);
}
p {
  font-size: 17px;
  color: var(--text-color);
}

ul {
  list-style: none;
}
li {
  font-size: 17px;
  font-weight: 600;
  color: var(--text-color);
}
.list::before {
  content: "";
  width: 7px;
  height: 7px;
  margin-right: 15px;
  background-color: var(--deep-purple);
  border-radius: 100%;
  display: inline-block;
}
.list p {
  margin-left:22px;
}

a {
  font-weight: bold;
  color: var(--purple);
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
  transition: 0.1s ease;
}
.link-secondary:hover {
  opacity: 0.7;
  transition: 0.1s ease;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.infos {
  font-size: 14px;
}

/* Design styles */
button {
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  padding: 0.75em;
  padding-left: 2em;
  padding-right: 2em;
  text-decoration: none;
  border:none;
  display: inline-block;
  color: var(--white);
  background-color: var(--purple);
}
button:focus {
  outline:none;
}
button:hover {
  background-color: var(--purple-shadow);
  transition: 0.2s ease;
}

img {
  max-width: 100%;
}

.inner-background {
  position: relative;
}
.inner-background::before {
  content: "";
  position: absolute;
  top: calc(var(--margin) * 4);
  bottom: calc(var(--margin) * 4);
  left: 0;
  width: 100%;
  z-index: -1;
  background-color: var(--light-background);
}
.outer-background {
  background: var(--light-background);
}

hr {
  width: var(--width);
  max-width: 100%;
  margin: auto;
  height: 0;
  border:solid 0.5px;
  color: var(--light-purple);
}

.container > p {
  max-width: var(--small-width);
  margin: auto;
}

@media only screen and (max-width: $tablet-breakpoint) {
  .description {
    margin-bottom: 0 !important;
  }
  .separator {
    margin-bottom:40px!important;
  }
}
@media only screen and (max-width: $mobile-breakpoint) {
  header .btn--primary {
    margin-bottom: 20px;
  }
  header .btn--secondary {
    margin-bottom: 20px;
  }
  header .btn-center {
    text-align: center;
  }
  #usecase .button {
    margin-top:20px;
  }
  #faq .button {
    margin-top:20px;
  }
}
