:root {
  --purple: #491e8c;
  --light-purple: #bdafd6;
  --dark-purple: #210e41;
  --white: #ffffff;
  --light-background: #f2f0f7;
  --title-color: #0e061c;
  --text-color: #3c3940;
  --margin: 20px;
  --width: 1020px;
  --small-width: 680px;
}

@function pow($base, $exponent) {
  $result: 1;
  @if $exponent == 0 {
    @return $result;
  }
  @for $_ from 1 through $exponent {
    $result: $result * $base;
  }
  @return $result;
}

/* Reset */
html {
  font-size: 1em;
  word-spacing: 0.1em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Text styles */
h1,
h2,
h3,
h4,
h5,
a,
p,
ul,
li,
button,
label,
input,
textarea {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: normal;
}
h1 {
  font-size: 38px;
  font-weight: bold;
  color: var(--title-color);
}
h2 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: var(--title-color);
}
h3 {
  font-size: 26px;
  font-weight: 600;
  color: var(--title-color);
}
h4 {
  font-size: 20px;
  font-weight: 600;
  color: var(--title-color);
}
p {
  font-size: 17px;
  color: var(--text-color);
}
li {
  font-size: 17px;
  font-weight: 600;
  color: var(--text-color);
}
img {
  max-width: 100%;
}

a {
  font-size: 17px;
  font-weight: bold;
  color: var(--purple);
  text-decoration: none;
}

/* Structure */
[flex] {
  display: flex;
}
[flex] > * {
  flex: 1;
}
[spacer] {
  flex: 2;
}
[row] {
  flex-direction: row;
}
[row][reverse] {
  flex-direction: row-reverse;
}
[wrap] {
  flex-wrap: wrap;
}
[row] > * {
  margin-right: calc(2 * var(--margin));
}
[row] > *:last-child {
  margin-right: 0;
}
[row][reverse] > * {
  margin-left: calc(2 * var(--margin));
}
[row][reverse] > *:last-child {
  margin-left: 0;
}
[column] {
  flex-direction: column;
}
[justify-center] {
  justify-content: center;
}
[align-center] {
  align-items: center;
}
[align-left] {
  align-items: left;
}
[align-right] {
  align-items: right;
}
[space-between] {
  justify-content: space-between;
}
[space-around] {
  justify-content: space-around;
}

[row] > [half]:nth-child(2) {
  margin-right: 0;
}
[half] {
  min-width: calc((var(--width) - 2 * var(--margin)) / 2);
  max-width: 100%;
}
[one-third] {
  max-width: 33%;
}
[two-third] {
  max-width: 66%;
}
[one-quarter] {
  max-width: 25%;
}
[three-quarter] {
  max-width: 75%;
}
@for $i from 1 through 4 {
  $val: calc(var(--margin) * #{pow(2, $i - 1)});
  [m#{$i}] {
    margin: $val !important;
  }
  [mt#{$i}] {
    margin-top: $val !important;
  }
  [mb#{$i}] {
    margin-bottom: $val !important;
  }
  [mr#{$i}] {
    margin-right: $val !important;
  }
  [ml#{$i}] {
    margin-left: $val !important;
  }
  [p#{$i}] {
    padding: $val !important;
  }
  [pt#{$i}] {
    padding-top: $val !important;
  }
  [pb#{$i}] {
    padding-bottom: $val !important;
  }
  [pr#{$i}] {
    padding-right: $val !important;
  }
  [pl#{$i}] {
    padding-left: $val !important;
  }
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.inner-background {
  position: relative;
}
.inner-background::before {
  content: "";
  position: absolute;
  top: calc(var(--margin) * 4);
  bottom: calc(var(--margin) * 4);
  left: 0;
  width: 100%;
  z-index: -1;
  background-color: var(--light-background);
}
.outer-background {
  background: var(--light-background);
}
hr {
  max-width: var(--width);
  margin: auto;
  height: 1px;
  color: var(--light-background);
}
.container > p {
  max-width: var(--small-width);
  margin: auto;
}
